[submodule "Sesi-02/assignment-calc-1"]
	path = Sesi-02/assignment-calc-1
	url = https://github.com/MhinHub/Calc-Hacktiv8
[submodule "Sesi-02/assignment-1_calc"]
	path = Sesi-02/assignment-1_calc
	url = https://github.com/MhinHub/Calc-Hacktiv8
