[submodule "Sesi-02/assignment-1_calc"]
	path = Sesi-02/assignment-1_calc
	url = https://github.com/MhinHub/Calc-Hacktiv8

[submodule "Sesi-05/Qtemu_home-work_RCTN-Hacktiv8"]
	path = Sesi-05/Qtemu_home-work_RCTN-Hacktiv8
	url = https://github.com/MhinHub/Qtemu-Hacktiv8

[submodule "Sesi-06/assignment-2\ \(currency-rate\)/react"]
	path = Sesi-06/assignment (currency-rate)/react
	url = https://github.com/MhinHub/display-currency-rates_Hacktiv8
