.content {
    padding: 1rem 9rem 3rem;
}

.title {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    padding-top: 9rem;
}

.listAwards {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: large;
}